.vscode/c_cpp_properties.json
.vscode/keil-assistant.log
.vscode/uv4.log
.vscode/uv4.log.lock
Objects/codetab.obj
Objects/main.obj
Objects/mcu_api.obj
Objects/protocol.obj
Objects/system.obj
Objects/test
Objects/test.build_log.htm
Objects/test.hex
Objects/test.lnp
Objects/User_I2C.obj
Objects/User_OLED.obj
Objects/User_SHT30.obj
Objects/User_Timer.obj
Objects/User_Uart.obj
Listings/codetab.lst
Listings/main.lst
Listings/mcu_api.lst
Listings/protocol.lst
Listings/system.lst
Listings/test.m51
Listings/User_I2C.lst
Listings/User_OLED.lst
Listings/User_SHT30.lst
Listings/User_Timer.lst
Listings/User_Uart.lst
test.uvgui.Orange
Objects/main.__i
Objects/User_SHT30.__i
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/STC8A8K-OLED_IIC_SHT30_涂鸦测试/v16/.suo
